html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
    box-sizing: border-box; /* this disallows the borders from interfering with the styling of the elements surrounding all elements with borders */

    /* border: none !important; */
}

html {
     font-size: 62.5%; /* we use this and setup most of our fonts in the rest of the css using rem units -- Leon said for accessbility purposes. have to look up details. this should convert 1rem to 10px */
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/* .clear {
   clear: both;
} */

header {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    height: 10vh;
}

/* header > ul {

} */

main {
    border: 1px solid blue;
    height: 70vh;
}

main > section {
    border: 1px solid green;
    height: inherit;
    display: flex
}

main > section > img {
    border: 1px solid purple;
    width: 50%;
}

main > section + .image-div {
    border: 1px solid green;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10vh;

}

main > section + .image-div > div > img {
    width: 90%;
    height: 100%;
}